<section class="company-list">
  <div class="company-list__controls">
    <app-company-filter (filterChange)="onFilterChange($event)" />
    <app-company-sort (sortChange)="onSortChange($event)" />
  </div>

  @if (isLoading()) {
    <div class="company-list__loader">
      <div class="company-list__spinner"></div>
      <p>Загрузка компаний...</p>
    </div>
  } @else {
    <ul class="company-list__grid">
      @for (company of companies(); track company.id) {
        <li class="company-list__item">
          <app-company-item [company]="company"></app-company-item>
        </li>
      } @empty {
        <li class="company-list__empty">Компании не найдены.</li>
      }
    </ul>
  }
</section>
